* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 375px;
    height: 700px;
    margin: auto;
}
.content-container-top {
    width: 375px;
    height: 380px;
    margin: auto;
    border: 1px solid white;
    background: white;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.logo{
    width: 70%;
    height: 28%;
    margin: auto;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
input[type="text"], input[type="password"], button {
    width: 268px;
    height: 38px;
    font-size: 12px;
    border-radius: 5px;
    padding: 0px 5px;
    box-sizing: border-box;
    margin: 5px 0;
    border: none;
    color: rgb(38, 38,38);
    background-color: rgb(250, 250, 250, 1);
    border: 1px solid lightgrey;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
button {
    color: white;
    font-size: 15px;
    height: 31px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #abcdef;
}
h5 {
    width: 75%;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    line-height: 0.1em;
    margin: 10px 0 15px;
    color: grey;
    transform: translateX(17%);
    -webkit-transform: translateX(17%);
    -moz-transform: translateX(17%);
    -ms-transform: translateX(17%);
    -o-transform: translateX(17%);
} 
h5 span { 
     background:#fff;  
 }
 .facebook {
     display: flex;
     justify-content: center;
     color: #385185;
     font-family: "Segoe UI";
     font-weight: 600;
     font-size: 1em;
     margin: 15px;
 }
 .facebook > i {
   margin-right: 10px;
   font-size: 1.17em;
 }
 .forgot {
     text-align: center;
     font-size: .9em;
     margin-bottom: 20px;
     color: rgb(0, 55, 107);
 }
.content-container-mid{
    width: 375px;
    height: 63px;
    border: 1px solid white;
    margin-top: 10px;
}
.content-container-mid > p {
    text-align: center;
    line-height: 63px;
}
.content-container-mid a {
    text-decoration: none;
    font-weight: 600;
    color: cornflowerblue;

}
.content-container-bottom{
  width: 375px;
  height: 102px;
  text-align: center;
  margin-top: 20px;
} 
.app {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.app img {
    width: 136px;
    height: 40px;
    margin: 0 5px;
}
.last-container {
    width: 79%;
    margin: auto;
    position: absolute;
    top: 91%;
    left: 10%;
    height: 151px;

}
nav {
    display: flex;
    justify-content: center;
    font-size: .9em;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
nav li, a {
    list-style: none;
    text-decoration: none;
    color: rgb(142, 142, 142);
    margin: 2px;
}
.last-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9em;
    color: rgb(142, 142, 142);
    margin: auto;
    white-space: nowrap;
    margin-top: 25px;
    
}
select {
  margin-right: 13px;
  border: 0;
  background-color: transparent;
  color: rgb(142, 142, 142);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;

}
.last-section form {
    display: inline-block;
    margin-left: 70px;
}
.last-section p {
    margin-right: 65px;
    margin-left: 10px;
}
form > i {
    margin-left: -15px;
}
.arrow {
    border: solid rgb(3, 2, 2);
    border-width: 0 .5px .5px 0;
    display: inline-block;
    padding: 3px;
  }
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.image-holder {
    display: none;
}
@media only screen and (min-width: 450px) {
  body {
      background-color: rgb(250, 250, 250, 1);
  }
    .content-container-top {
      border: 1px solid lightgray;
      background-color: white;
  } 
  .content-container-mid {
    border: 1px solid lightgray;
    background-color: white;
}
.last-section form {
   margin-right: 5px; 
}
} 
@media only screen and (min-width: 876px) {
  .outer-container {
      width: 750px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
  }
  .container {
      width: 50%;
  }
  .image-holder {
    width: 50%;
    display: grid;
    position: relative;
    margin-right: 50px;  
  }
  .image-holder img{
    width: 440px;
    height: 615px;
    align-items: center;
    margin-bottom: 100px;
}
.images img{
    width: 232px;
    height: 426px;
    position: absolute;
    overflow: hidden;
    left: 39%;
    top: 13.5%;
    opacity: 0;
    animation: images 25s infinite;
    -webkit-animation: images 25s infinite;
}
@keyframes images {
    25% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}
.images img:nth-last-of-type(5){
    animation-delay: 0s;
}
.images img:nth-last-of-type(4){
    animation-delay: 5s;
}
.images img:nth-last-of-type(3){
    animation-delay: 10s;
}
.images img:nth-last-of-type(2){
    animation-delay: 15s;
}
.images img:nth-last-of-type(1){
    animation-delay: 20s;
}
.last-section form{
    margin-right: 5px;
}
}